{
  "extends": ["wesbos"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-dynamic-require": "off",
    "global-require": "off",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "reject"
      }
    ]
  }
}
